.idea/
build/
cmake/
cmake-build-debug/

*.write
*.csv
*.png
*.ply
*.log

dataset.dat
dataset.hdf5
testset.dat

CMakeLists.txt
src/main.cpp
src/io.cpp
src/timer.cpp
src/timer.h
src/io.h
point/
nanoflann/
src/logger
src/utility.hpp
